<app-buscador></app-buscador>
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <div class="col" *ngFor="let banda of bandas; index as i">
        <div class="card">
            <div class="container-imagen">
                <div class="mx-auto posicion-texto">
                    <h2 class="card-title text-center">
                        {{ banda.nombre_banda }}
                    </h2>
                </div>
            </div>

            <div class="card-body bg-light bg-gradient cardBodyAltura">
                <h5 class="
            card-text
            bg-dark bg-gradient
            text-white
            p-2
            m-2
            text-center
            bordeGenero
          ">
                    Genero musical: {{ banda.genero }}
                </h5>
                <p [id]="'historia' + i" class="card-text historia">
                    {{ banda.p1Historia }}
                    <span class="dLine puntosSuspensivos"> ...</span>
                    <span class="dNone fadeInDown">{{ banda.p2Historia }}</span>
                    <button class="btn botonLeerMas" (click)="leerMas('historia' + i)">
            Leer Mas
          </button>
                </p>
                <div class="row justify-content-evenly">
                    <div class="col-6 text-center d-grid">
                        <a class="btn btn-primary" href="formulario-editar-banda/{{ banda.idbanda }}">Editar</a
            >
          </div>
          <div class="col-6 text-center d-grid">
            <button
              class="btn btn-danger"
              (click)="eliminarBanda(banda.idbanda, banda.nombre_banda)"
            >
              Eliminar
            </button>
          </div>
          <div class="col-12 text-center d-grid mt-2">
            <a class="btn color" href="detalles/{{ banda.idbanda }}"
              >Ver detalles</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>