.color {
    background-color: #2d4356;
    border-color: #2d4356;
    color: whitesmoke;
    transition: 0.5s;
}

.color:hover {
    background-color: #333;
    border-color: #333;
    transition: 0.5s;
    padding: 6px 18px;
}