<!-- Imagen -->
<div class="container-imagen">
    <div class="mx-auto picuet">
        <h2 class="text-center">{{ detalleBanda.nombre_banda }}s</h2>
    </div>
</div>
<div class="container-descripcion" *ngIf="detalleBanda">
    <p class="text-center">
        <iframe class="video" [src]="urlSafe" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </p>
    <!-- DescripcionBanda -->
    <div class="card col col-md-8 col-lg-12 mx-auto">
        <div class="card-body">
            <h3 class="card-text">
                Genero:<span class="card-subtitle mb-2 text-muted mt-2">
          {{ detalleBanda.genero }}
        </span>
            </h3>
            <h3 class="card-text">Historia</h3>
            <h6 class="card-subtitle mb-2 text-muted mt-2">
                {{ detalleBanda.historia }}
            </h6>
            <div class="d-grid gap-2 col-10 col-md-6 col-xxl-10 mx-auto">
                <a [href]="detalleBanda.urlWeb" class="btn btn-dark">Pagina oficial de {{ detalleBanda.nombre_banda }}</a
        >
        <a [href]="detalleBanda.urlSpotify" class="btn btn-dark">Spotify</a>
            </div>
        </div>
    </div>
</div>