<div class="container">
    <header class="py-3">
        <ul class="nav nav-pills d-flex justify-content-evenly">
            <li class="nav-item col-5 text-center">
                <a href="/" class="nav-link" aria-current="page"><img src="../../../assets/images/wiki-band.jpg" width="150px" /></a>
            </li>
            <li class="nav-item col-2"></li>
            <li class="nav-item col-5 text-center">
                <a class="btn btn-dark banda" href="formulario-nueva-banda">Añadir Banda</a
        >
      </li>
    </ul>
  </header>
</div>